html {
  font-family: 'Roboto';
  font-size: 10px;
  background: $mainBackgroundColor;
  color: $mainFontColor;
}

body {
  font-size: 1.6rem;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

button:focus {
  outline: none;
}
