/*Colors*/
$gray1: #BDBDBD;
$gray2: #C4C4C4;
$gray3: #EFEFEF;
$white: #ffffff;
$black: #000000;
$blue: #568EE1;
$red: #FF7979;
$brown: #C3976E;
$orange: #FFC28A;

/**/
$mainFontColor: $black;
$mainBackgroundColor: $white;
