/*Colors*/
$gray1: #BDBDBD;
$gray2: #C4C4C4;
$gray3: #EFEFEF;
$white: #ffffff;
$black: #000000;
$blue: #568EE1;
$red: #FF7979;
$brown: #C3976E;
$orange: #FFC28A;

/**/
$mainFontColor: $black;
$mainBackgroundColor: $white;

$bp: 0px;

$rice:     $gray1;
$fish:     $blue;
$palm_oil: $orange;
$cereals:  $orange;
$meat:     $red;
$sugar:    $white;
$milk:     $white;
$coffee:   $brown;

$borderRice:     $gray1;
$borderFish:     $blue;
$borderPalm_oil: $orange;
$borderCereals:  $orange;
$borderMeat:     $red;
$borderSugar:    black;
$borderMilk:     black;
$borderCoffee:   $brown;
